#main {
  padding: 10px;
}

div.card {
  margin-bottom: 10px;
  width: 600px;
}

div.directions {
  margin-bottom: 20px;
  border-bottom: 1px solid darkblue;
}

textarea.string {
  height: 100px;
  width: 300px;
}

select#arrayVal {
  width: 300px;
}

button.array-button {
  width: 150px;
  margin-right: 10px;
}

#objectVal {
  width: 300px;
  border: 1px solid black;
  margin-bottom: 15px;
}