#main {
  padding: 10px;
}

div.card {
  margin-bottom: 10px;
}

div.directions {
  margin-bottom: 20px;
  border: 1px solid lightgray;
  max-width: 500px;
  background: #eaeaea;
  border-radius: 4px;
  padding: 4px;
  text-align: justify;
}

textarea.string {
  height: 100px;
  /*width: 100%;*/
}

select#arrayVal {
  width: 300px;
}

button.array-button {
  width: 150px;
  margin-right: 10px;
}

input[readonly].form-control {
  background-color: transparent;
}

input[readonly].form-control:focus {
  outline: none;
}

#objectVal {
  width: 300px;
  border: 1px solid black;
  margin-bottom: 15px;
}

tr.selected {
  background: #bee4ff;
}