div.chart {
  text-align: center;
  margin-bottom: 20px;
}

div.controls {
  margin: auto;
  text-align: center;
}

div.control {
  margin-bottom: 15px;
}

div.control div.enabled {
  width: 50px;
  text-align: center;
  display: inline-block;
}

div.control div.value {
  width: 50px;
  text-align: center;
  display: inline-block;
}

div.control div.value input{
  width: 20px;
}

div.control div.sliders {
  width: 200px;
  display: inline-block;
  position: relative;
  top: 5px;
}


.noUi-horizontal .noUi-handle {
  top: -3px;
  height: 22px;
}

.noUi-handle:after, .noUi-handle:before {
  top: 4px;
  height: 12px;
}

div.titles {
  font-family: Helvetica;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: bold;
}

div.titles div.enabled {
  width: 50px;
  display: inline-block;
  text-align: center;
}

div.titles div.slider {
  margin-top: 5px;
  width: 200px;
  display: inline-block;
}

div.titles div.value {
  width: 50px;
  display: inline-block;
}